
header {
    background: url(img/atavakoli-circle.png) no-repeat top 10px left 30px #FBFBFB;
    background-size: 180px;
    padding: 5px 5px 25px 250px;
    font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #000000;
    border-style: none;
    border-color: #000000;
}

header h1 {
    padding-left: 0px !important;
    font-size: 40px;
    font-weight: 100;
    margin: 0px 0 0 0;
    color: #000000;
}

header h2 {
    padding-left: 0px !important;
    font-size: 26px;
    font-weight: 100;
    margin: 20px 0 0 0;
    color: #000000;
}

header h3 {
    padding-left: 0px !important;
    font-size: 20px;
    font-weight: 100;
    margin: 5px 0 0 0;
    color: #000000;
}



body {
    font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #000000;
    background: #FBFBFB;
}

body p {
    padding-left: 250px;
    font-size: 18px;
}

body h1 {
    padding-left: 250px;
    font-weight: 100;
}

body h2 {
    padding-left: 250px;
    font-weight: 100;
}

body h3 {
    padding-left: 250px;
    font-weight: 100;
}

strong {
    font-weight: 100;
    font-size: 17px;
    color: #9A1BA0;
}

body ul {
    padding-left: 250px;
}

table {
    font-size: 18px;
}

a {
    color: #0153D6;
    text-decoration:none;
}
  
a:focus, a:hover {
    color: #0153D6;
    text-decoration:underline;
}

ul {
    margin-left: 0px;
}

li {
    list-style-type: none;
    padding-bottom: 5px;
}



ul.navbar {
    position: absolute;
    margin: 25px 0px 0px 55px;
    padding: 0 0 0 0;
    list-style-type: none;
}

.navbar li {
    font: 200 20px 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 100;
}

.navbar li a:hover {
    color: #0153D6;
}




/*.content {
  max-width: 500px;
  margin: auto;
}*/