
header {
    background: url(img/arash-tavakoli.png) no-repeat top left #f9f9f9;
    background-size: 240px;
    padding: 5px 5px 5px 250px;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #272727;
    border-style: solid;
    border-color: #272727;
}

header h1 {
    padding-left: 0px !important;
    font-size: 40px;
    margin: 0px 0 0 0;
    color: #272727;
}

header h2 {
    padding-left: 0px !important;
    font-size: 26px;
    margin: 20px 0 0 0;
    color: #393E46;
}

header h3 {
    padding-left: 0px !important;
    font-size: 20px;
    font-weight: normal;
    margin: 5px 0 0 0;
    color: #393E46;
}



body {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #393E46;
    background: #f9f9f9;
}

body p {
    padding-left: 250px;
    font-size: 16px;
}

body h1 {
    padding-left: 250px;
}

body h2 {
    padding-left: 250px;
}

body h3 {
    padding-left: 250px;
    /* font-weight: normal; */
}

body ul {
    padding-left: 250px;
}

table {
    font-size: 16px;
}



a:link {
    color: #02475E;
    font-weight: bold;
    text-decoration: none;
}

a:visited {
    color: #02475E;
}

a:hover {
    color: #00ADB5;
}



ul {
    margin-left: 30px;
}

li {
    list-style-type: square;
    padding-bottom: 5px;
}



ul.navbar {
    position: absolute;
    margin: 25px 0px 0px 25px;
    padding: 0 0 0 0;
    list-style-type: none;
}

.navbar li {
    font: 200 20px "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.navbar li a:hover {
    color: #00ADB5;
}